/* Styling for the modal overlay */
.added-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 1s ease-in-out;

  }
  
  /* Styling for the modal content */
  .added-content {
    display: flex;
    flex-direction: column;
    gap: px;
    align-items: center;
    background-color: #fefefe;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  }

  .add-img {
    height: 200px;
    width: 200px;
    transition: transform 0.2s ease;
  }
  .add-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
  }